body 
{
    background:#E7E4D9;
    font-size: 13px;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}

#calendar {margin: 0 auto;}
.fc-header .active{color:#009900; font-weight:bold;}
